@import "tailwindcss";

@layer base {
    :root {
        --header-height: 74px;
        --footer-height: 55px;
        --container-height: calc(100vh - (var(--header-height) + var(--footer-height)));
        --section-height: calc(100vh - var(--header-height));
        --animation-delay: 600ms;
    }

    .dark {
        --color-foreground: theme(colors.slate.200);
        --color-background: theme(colors.slate.800);
        --color-muted: theme(colors.slate.400);
        --color-border: theme(colors.slate.300);

    }
    
    @theme {

      
        --font-agustina: 'agustina';
        --color-background: theme(colors.slate.50);
        --color-foreground: theme(colors.slate.600);
        --color-accent: theme(colors.sky.400);
        --color-muted: theme(colors.slate.300);
        --color-border: theme(colors.slate.400);
        --animate-spin: spin 5s ease-in-out infinite;


        --animate-slide-down-right: slide-down-right .6s ease-in-out forwards;
        --animate-slide-down: slide-down .6s ease-in-out forwards;
        --animate-pop: pop 1.8s cubic-bezier( 0.25, 0.46, 0.45, 0.94 ) forwards;
        --animate-slide-left: slide-left .5s ease-out forwards;
        --animate-slide-down-left: slide-down-left .6s ease-in-out forwards;
        --animate-slide-up: slide-up .6s ease-in-out forwards;

        @keyframes slide-down-right {
            from {
                transform: translate(25%, -30%);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes slide-down {
            from {
                transform: translateY(-30%);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes pop {
            0% {
                transform: scale(.35);
            }
            20% {
                transform: scale(1.05);
            }
            40% {
                transform: scale(.9);
            }
            70%, 100% {
               transform: scale(1);
            }


        }

        @keyframes slide-left {
            from {
                transform: translateX(-20%);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes slide-down-left {
            from {
                transform: translate(-25%, -30%);
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes slide-up {
            from {
                transform: translateY(50%);
            }
            to {
                opacity: 1;
                translate: 0;
            }
        }

    

      
    }


 
    section {
        min-height: var(--section-height);
        overflow-x: hidden;
    }

    
    @font-face {
        font-family: 'agustina';
        src: url('/fonts/Agustina.otf') format('opentype');
    }

    html {
        font-synthesis: none;
        text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior-y: none;
        overflow-x: hidden;
        scrollbar-color: var(--color-muted) transparent;
        scroll-padding-top: calc(var(--header-height) + .15rem);
    }

    body {
        -webkit-tap-highlight-color: transparent;
        @apply bg-background text-foreground
    }


    *::selection {
        @apply bg-accent/20 text-foreground/80
    }
    button {
        @apply select-none
    }

        html {
            @media (prefers-reduced-motion: no-preference) {

            scroll-behavior: smooth;
            }
        }
    
/*  accessibility :    
    * {
        @apply focus:outline-dashed outline-accent
    } */

}

    @utility container {
        margin-inline: auto;
        padding-inline: 1.5rem;
    }



@utility bg-conic {
    background-image: linear-gradient(var(--color-accent), transparent);
}